.wrapper {
    margin-left: auto;
    margin-right: auto;
}

#original-image-hidden {
    display: none;
}

#source-image{
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    display: none;
}

.original-image {
}

#plot-content {
    display:none;
}

.input-image-panel {
    display: flex;
    align-items: center;
    padding-bottom: 50px;
}

.input-image-panel-left {
    margin-left: 150px;
    margin-top: 50px;
    width: 400px;
    height: 400px;
    display: inline-block;
    position: relative;
}

.input-image-panel-left img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.input-image-panel-right {
}

#input-image-plot {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 400px;
    margin-top: 25px;
}

#histogram-output {
    display: none;
}

#median-cut-output {
    display: none;
}

#kmeans-output {
    display: none;
}

#histogram-plot {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 400px;
    margin-top: 25px;
}

#median-cut-plot {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 400px;
    margin-top: 25px;
}

#kmeans-plot {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 400px;
    margin-top: 25px;
}

.colorPreview {
    border: 1px solid lightgray;
    width: 200px;
    height: 30px;
}